body {font-family: Arial, sans-serif;margin: 0;padding: 0;background-color: #f4f4f4;color: #333}
.container {max-width: 600px;margin: 50px auto;background: white;padding: 20px;border-radius: 8px;box-shadow: 0 4px 6px rgba(0,0,0,.1)}
h1 {text-align: center;color: #444}
input, button {display: block;width: calc(100% - 40px);margin: 10px auto;padding: 10px;border: 1px solid #ddd;border-radius: 5px;font-size: 16px}
a{color: chocolate;font-size: 22px}
button {background-color: #00ff15;color: white;cursor: pointer;border: none;width: 100px}
button:hover {background-color: #0056b3}
ul {list-style-type: none;padding: 0}
ul li {padding: 10px;margin: 5px 0;background: #f9f9f9;border-radius: 4px;display: flex;justify-content: space-between;align-items: center}
ul li:hover {background-color: #e9e9e9}
button.delete {background-color: #dc3545;color: white}
button.delete:hover {background-color: #c82333}
.bookmark-actions{display:flex;gap:8px}
.edit-input{width:100%;margin-right:8px}
.small{width:120px}
